@use "./pages/loginSignup";
@use "./pages/editPage";
@use "./components/header";
@use "./components/userHint";
@use "./components/feedComponent";
@use "./components/sendPost";
@use "./pages/chatPage";
@use "./pages/profile";
@use "./pages/dashboard";
@use "./pages/notifications";
@use "./pages/messages";
@use "./components/comments";
@use "./components/commentForm";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0;
}
body {
  background-color: f1f1f1;
  display: flex;
  flex-direction: row;
  width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  max-width: 100vw;
}
button {
  cursor: pointer;
  &:active {
    scale: 1.05 1.05;
  }
}
a {
  text-decoration: none;
}
header{
  font-size: 20px;
  border-bottom: 3px solid #fff9;
  width: 100%;
  margin: 0;
  text-align: left;
}
.outlet{
  width: 80%;
  border-right: 2px solid #22222261;
  position: absolute;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  left: 40px;
  @media screen and (max-width: 600px) {
    width: 100vw;
    position: relative;
    left: 0;
    height: calc(100vh - 48px);
    border: none;
  }
}
 

@keyframes rotation {
  0%{
    rotate: 0deg;
  }
  100%{
    rotate: 360deg;
  }
} 

.loadingComponent{
  width: 100%;
  height: 100%;
  margin-top: 10px;
  display: grid;
  place-items: center;
}
.loadingComponent>img{
  display: flex;
  width: 50px;
  animation: forwards;
  animation-name: rotation;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
.loadingTookTooLong{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.loadingTookTooLong button{
  width: 80px;
  border: 1px solid #2228;
  border-radius: 5px;
  box-shadow: 00.4px 0.4px 0.4px 0.4px #2225;
}
